@model Order.Object.ProductCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductCategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    body {
        margin-bottom: 60px;
        background-image: url('/BackGround/Gif5.gif');
        /*background-repeat: no-repeat;*/
        background-size: 80%; /* Adjust the percentage to control the size */
        background-position: center center; /* Center the background horizontally and vertically */
    }
</style>