html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;    
    background-image: url('/BackGround/animated-interactive-infographics-header-wide.gif'); /* Replace with the path to your background image */
    background-repeat: no-repeat;
    background-size: contain; /* Adjust the value to "cover", "contain", or specific dimensions */
    background-position: center; /* Adjust the position if needed */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
}

.message-heading {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
}

.message-container {
    background-color: #ffffff;
    border: 1px solid #258cfb;
    padding: 10px;
    max-width: 400px;
    height: 300px;
    overflow: auto;
    border-radius: 10px;
}


